@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.blur-left {
    opacity: 30%;
    width: 10vw;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #111111;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.slider-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.main-heading {
    text-align: center;
    padding-top: 8vh;
    font-family: "Montserrat", sans-serif;
    padding: 8vh 20vw 0;
}

.main-heading>h1 {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.main-heading>p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    gap: 50px;
    transition: transform 1s linear;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 22px;
    border-radius: 12px;
    background-color: #FFFFFF1A;
    font-family: "Montserrat", sans-serif;
}

.card-content>.card-content-name {
    font-size: 16px !important;
    color: #FFFFFF99;
    font-weight: 500;
    margin: 8px 0 10px 0;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

.card-content>p {
    font-size: 16px !important;
    color: #FFFFFFCC;
    font-weight: 300;
    text-align: center;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.9px;
}

.card {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vh;
    width: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 15px;
}

.card:nth-child(odd) {
    animation: moveUp 2s infinite alternate ease-in-out;
}

.card:nth-child(even) {
    animation: moveDown 2s infinite alternate ease-in-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
    }
}

@media screen and (max-width: 600px) {
    body{
        padding: 10px 25px;
    }
    .main-heading {
        padding: 5vh 4vw 4vw 0;
    }
    
    .main-heading>h1 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .main-heading>p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px)  {
    body{
        padding: 10px 25px;
    }
    .main-heading {
        padding: 5vh 2vw 2vw 0;
    }
}
